<mat-toolbar color="primary">De stand</mat-toolbar>
<mat-progress-bar *ngIf="!participants" mode="buffer"></mat-progress-bar>
<mat-accordion>
  <mat-expansion-panel *ngFor="let participant of participants | orderBy : 'totalPoints' : true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{participant.displayName}} {{participant.totalPoints}}
      </mat-panel-title>
      <mat-panel-description>
        <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutGap="5px">
      <div fxFlex="60">
        <ag-grid-angular
          style="height: 495px;"
          class="ag-theme-balham"
          [gridOptions]="gridOptions"
          [rowSelection]="rowSelection"
          (rowSelected)="onRowSelected($event, participant)"
          [rowData]="(participant?.predictions)"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      <div fxFlex="40">
        <app-tourriderdetaildialog [data]="participant?.selectedRider"></app-tourriderdetaildialog>
      </div>
      <!--<div fxFlex="300px"  class="wrapgap" *ngFor="let prediction of participant.predictions | orderBy : 'punten' : true">-->
      <!--<mat-toolbar>-->
      <!--<mat-toolbar-row class="card_header">-->
      <!--{{prediction.rider.rider.firstName}} {{prediction.rider.rider.surName}} {{prediction.punten}}-->
      <!--</mat-toolbar-row>-->
      <!--<mat-toolbar-row class="card_header">-->
      <!--<ng-container *ngIf="prediction.isRider"> (Teamrenner)</ng-container>-->
      <!--<ng-container *ngIf="prediction.isWaterdrager"> (Waterdrager)</ng-container>-->
      <!--<ng-container *ngIf="prediction.isMeesterknecht"> (Meesterknecht)</ng-container>-->
      <!--<ng-container *ngIf="prediction.isLinkebal"> (Linkebal)</ng-container>-->
      <!--<ng-container *ngIf="prediction.isBeschermdeRenner"> (Beschermde renner)</ng-container>-->
      <!--</mat-toolbar-row>-->
      <!--</mat-toolbar>-->
      <!--<mat-card>-->
      <!--<mat-card-content>-->
      <!--<div *ngFor="let sc of prediction.rider.stageclassifications | orderBy : 'etappe.date' : false">-->
      <!--{{sc.etappe.etappeName}} {{sc.punten}}-->
      <!--</div>-->
      <!--</mat-card-content>-->
      <!--</mat-card>-->
      <!--<mat-divider [inset]="true"></mat-divider>-->
      <!--</div>-->
    </div>
  </mat-expansion-panel>
</mat-accordion>
