<mat-card>
  <mat-card-header>
    <mat-card-title>
      De stand
    </mat-card-title>
    <mat-card-subtitle><span *ngIf="lastUpdated">Bijgewerkt {{lastUpdated}}</span> &nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar *ngIf="(participantstable$ | async)?.length < 1" mode="buffer"></mat-progress-bar>
  <div [ngClass.xs]="{'card-container':false, 'card-container-xs':true}" class="card-container">
    <mat-card-content>
      <div class="container-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <ag-grid-angular
        style=""
        class="ag-theme-balham inside_card"
        [gridOptions]="gridOptions"
        [rowData]="(participantstable$ | async)"
        [rowSelection]="rowSelection"
        [context]="context"
        [frameworkComponents]="frameworkComponents"
        (rowSelected)="onRowSelected($event)"
        domLayout="autoHeight"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </mat-card-content>
  </div>
</mat-card>
