<mat-toolbar color="primary">Mijn team</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
<mat-card *ngIf="isRegistrationOpen && !isLoading">
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex="100" fxFlex.gt-sm="30">
      <div class="participant_team_card">
        <mat-toolbar color="accent">Mijn Team</mat-toolbar>
        <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-divider [inset]="true"></mat-divider>
              <h3 matSubheader>
                <mat-icon matListIcon>directions_bike</mat-icon>
                Mijn Renners <span *ngIf="partipantRidersForm?.riders?.length > 0">
                 ({{partipantRidersForm?.riders?.length}}/{{maxParticipantRiders}})
              </span>
              </h3>
              <mat-list-item *ngFor="let rider of partipantRidersForm?.riders | orderBy : 'rider.waarde' : 'desc'">
                <div matLine>
                  <img style="height: 16px;" src="/assets/images/flag/{{rider?.rider?.rider?.nationality}}.png">
                  {{rider?.rider?.rider?.firstName}}
                  {{rider?.rider?.rider?.surNameShort}}
                  ({{rider?.rider?.waarde}})
                </div>
                <button mat-icon-button>
                  <mat-icon matListIcon (click)="deleteRider(rider)">delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-list-item class="alert" *ngIf="calculateUsedWaardepunten() > maxParticipantRidersPunten">
                Je team heeft te veel waardepunten
              </mat-list-item>
              <mat-list-item class="note" *ngIf="calculateUsedWaardepunten() < maxParticipantRidersPunten">
                Je hebt nog {{maxParticipantRidersPunten - calculateUsedWaardepunten()}} waardepunten.
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <h3 matSubheader
              matTooltip="Beschermde renner:
Evenveel waardepunten als meesterknecht.
Behaalde punten komen erbij.
Geen strafpunten als hij uitvalt.">
                <mat-icon matListIcon>verified_user</mat-icon>
                Mijn beschermde renner
              </h3>
              <mat-list-item>
                <div matLine *ngIf="partipantRidersForm?.beschermdeRenner">
                  <img style="height: 16px;"
                       src="/assets/images/flag/{{partipantRidersForm?.beschermdeRenner?.rider?.rider?.nationality}}.png">
                  {{partipantRidersForm?.beschermdeRenner?.rider.rider.firstName}}
                  {{partipantRidersForm?.beschermdeRenner?.rider.rider.surNameShort}}
                  ({{partipantRidersForm?.beschermdeRenner?.rider.waarde}})
                </div>
                <button mat-icon-button *ngIf="partipantRidersForm?.beschermdeRenner">
                  <mat-icon matListIcon (click)="deleteRider(partipantRidersForm?.beschermdeRenner)">delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <h3 matSubheader
                  class="my-tooltip"
                  matTooltip="Meesterknecht:
Evenveel waardepunten als beschermde renner.
Behaalde punten worden afgetrokken.
Als hij uitvalt strafpunten ter hoogte van zijn waarde.">
                <mat-icon matListIcon>build</mat-icon>
                Mijn meesterknecht
              </h3>
              <mat-list-item>
                <div matLine *ngIf="partipantRidersForm?.meesterknecht">
                  <img style="height: 16px;"
                       src="/assets/images/flag/{{partipantRidersForm?.meesterknecht?.rider?.rider?.nationality}}.png">
                  {{partipantRidersForm?.meesterknecht?.rider.rider.firstName}}
                  {{partipantRidersForm?.meesterknecht?.rider.rider.surNameShort}}
                  ({{partipantRidersForm?.meesterknecht?.rider.waarde}})
                </div>
                <button mat-icon-button *ngIf="partipantRidersForm?.meesterknecht">
                  <mat-icon matListIcon (click)="deleteRider(partipantRidersForm?.meesterknecht)">delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <h3 matSubheader class="my-tooltip"
                  matTooltip="Waterdrager:
Krijgt gemiddelde punten van zijn teamgenoten erbij.
Zelf behaalde punten worden afgetrokken.
In elk eindklassement (4x) gaat zijn waarde aan punten eraf.
Geen punten van teamgenoten meer vanaf moment dat hij uitvalt.">
                <mat-icon matListIcon>delete_outline</mat-icon>
                Mijn waterdrager
              </h3>
              <mat-list-item>
                <div matLine *ngIf="partipantRidersForm?.waterdrager">
                  <img style="height: 16px;"
                       src="/assets/images/flag/{{partipantRidersForm?.waterdrager?.rider?.rider?.nationality}}.png">
                  {{partipantRidersForm?.waterdrager?.rider.rider.firstName}}
                  {{partipantRidersForm?.waterdrager?.rider.rider.surNameShort}}
                  ({{partipantRidersForm?.waterdrager?.rider.waarde}})
                </div>
                <button mat-icon-button *ngIf="partipantRidersForm?.waterdrager">
                  <mat-icon matListIcon (click)="deleteRider(partipantRidersForm?.waterdrager)">delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <h3 matSubheader
                  matTooltip="Linkebal:
-Uit laagste waardegroep (10 waardepunten)
-Krijgt dubbele punten
-Als hij uitvalt 20 strafpunten
">
                <mat-icon matListIcon>new_releases</mat-icon>
                Mijn linkebal
              </h3>
              <mat-list-item>
                <div matLine *ngIf="partipantRidersForm?.linkebal">
                  <img style="height: 16px;"
                       src="/assets/images/flag/{{partipantRidersForm?.linkebal?.rider?.rider?.nationality}}.png">
                  {{partipantRidersForm?.linkebal?.rider.rider.firstName}}
                  {{partipantRidersForm?.linkebal?.rider.rider.surNameShort}}
                  ({{partipantRidersForm?.linkebal?.rider.waarde}})
                </div>
                <button mat-icon-button *ngIf="partipantRidersForm?.linkebal">
                  <mat-icon matListIcon (click)="deleteRider(partipantRidersForm?.linkebal)">delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
            <div fxLayout="column" fxLayoutAlign=" stretch">
              <button (click)="submitForm()" mat-raised-button color="primary"
                      [disabled]="!participantRidersComplete()">Bevestigen
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row, wrap" fxFlex="100" fxFlex.gt-sm="70" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row" class="full-width" fxLayoutAlign="center start">
        <div class="full-width header">
          <mat-button-toggle-group value="team" name="riders_view" #group="matButtonToggleGroup">
            <mat-button-toggle value="team">Sorteer op ploeg</mat-button-toggle>
            <mat-button-toggle value="waarde">Sorteer op waarde</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <ng-container *ngIf="group.value === 'team'">
        <div class="team_card" fxFlex="100" fxFlex.gt-sm="calc(50% - 20px)"
             *ngFor="let team of (teams$ | async) | orderBy : 'teamName' : asc">
          <mat-toolbar color="accent" fxLayoutAlign=" center">
            <img matListAvatar [src]="'assets/images/shirts/' + team.teamAbbreviation + '.jpg'">
            {{team.teamName}}
          </mat-toolbar>
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let rider of team.tourRiders | orderBy : 'waarde': true">
                  <div matLine>
                    <img style="height: 16px;" src="/assets/images/flag/{{rider?.rider?.nationality}}.png">
                    {{rider?.rider.firstNameShort}} {{rider?.rider.surNameShort}}
                    <span *ngIf="youngster(rider?.rider)">(Y)</span>
                  </div>
                  <div>{{rider?.waarde}}
                  </div>
                  <button mat-icon-button [matMenuTriggerFor]="menu"
                          *ngIf="!rider.isSelected"
                          [disabled]="participantRidersComplete()"
                          (click)="setCurrentRider(rider, team, $event)">
                    <mat-icon matListIcon>playlist_add</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="rider.isSelected">
                    <!--<mat-icon matListIcon *ngIf="rider.isWaterdrager">delete_outline</mat-icon>-->
                    <!--<mat-icon matListIcon *ngIf="rider.isLinkebal">new_releases</mat-icon>-->
                    <!--<mat-icon matListIcon *ngIf="rider.isBeschermdeRenner">verified_user</mat-icon>-->
                    <!--<mat-icon matListIcon *ngIf="rider.isMeesterknecht">build</mat-icon>-->
                    <mat-icon matListIcon>directions_bike</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
      <ng-container *ngIf="group.value === 'waarde'">
        <div class="waarde_card" fxFlex="100" fxFlex.gt-sm="calc(50% - 20px)" *ngFor="let waardeGroep of newWaardeList">
          <mat-toolbar color="accent" fxLayoutAlign=" center">
            {{waardeGroep.key}}
          </mat-toolbar>
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let rider of waardeGroep.data">
                  <div matLine>
                    <img style="height: 16px;" src="/assets/images/flag/{{rider?.rider?.nationality}}.png">
                    {{rider?.rider.firstNameShort}} {{rider?.rider.surNameShort}}
                    <span *ngIf="youngster(rider?.rider)">(Y)</span>
                  </div>
                  <div>{{rider?.waarde}}
                  </div>
                  <button mat-icon-button [matMenuTriggerFor]="menu"
                          *ngIf="!rider.isSelected"
                          [disabled]="participantRidersComplete()"
                          (click)="setCurrentRider(rider, rider.team, $event)">
                    <mat-icon matListIcon>playlist_add</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="rider.isSelected">
                    <!--<mat-icon matListIcon *ngIf="rider.isWaterdrager">delete_outline</mat-icon>-->
                    <!--<mat-icon matListIcon *ngIf="rider.isLinkebal">new_releases</mat-icon>-->
                    <!--<mat-icon matListIcon *ngIf="rider.isBeschermdeRenner">verified_user</mat-icon>-->
                    <!--<mat-icon matListIcon *ngIf="rider.isMeesterknecht">build</mat-icon>-->
                    <mat-icon matListIcon>directions_bike</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>
</mat-card>

<app-participantpredictions *ngIf="isRegistrationOpen === false && !isLoading" [participantid]="participantId"></app-participantpredictions>
<mat-menu #menu="matMenu">
  <mat-toolbar color="accent">
    {{currentRider?.rider.firstName}} {{currentRider?.rider.surName}} ({{currentRider?.waarde}})
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <button *ngIf="partipantRidersForm?.riders.length < maxParticipantRiders" mat-menu-item (click)="addRenner()">
      <mat-icon matListIcon>add_box</mat-icon>
      Renner
    </button>
    <button *ngIf="!partipantRidersForm?.beschermdeRenner && showBeschermdeRennerOfMeesterknecht()" mat-menu-item
            (click)="addBeschermdeRenner()">
      <mat-icon matListIcon>add_box</mat-icon>
      Beschermde renner
    </button>
    <button *ngIf="!partipantRidersForm?.meesterknecht && showBeschermdeRennerOfMeesterknecht()" mat-menu-item
            (click)="addMeesterknecht()">
      <mat-icon matListIcon>add_box</mat-icon>
      Meesterknecht
    </button>
    <button *ngIf="!partipantRidersForm?.waterdrager" mat-menu-item
            (click)="addWaterdrager()">
      <mat-icon matListIcon>add_box</mat-icon>
      Waterdrager
    </button>
    <button *ngIf="!partipantRidersForm?.linkebal && currentRider?.waarde === laagsteWaardegroep" mat-menu-item
            (click)="addLinkebal()">
      <mat-icon matListIcon>add_box</mat-icon>
      Linkebal
    </button>
  </div>
</mat-menu>
