:host {
  .header,
  .team_card,
  .participant_team_card,
  .waarde_card {
    margin: 10px !important;
    border-radius: 4px;
  }
  .mat-menu-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .alert {
    color: #c7254e;
    font-size: 14px;
  }

  .note {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
  }
  .my-tooltip {
    white-space: pre-line;
  }

  .toolbar-card-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .sub-card-container {
    height: calc(100vh - 378px - 20px);
    overflow-y: auto;
  }

  //.sub-card-container-xs {
  //  height: calc(var(--vh, 1vh) - 184px - 32px - 20px);
  //  overflow-y: auto;
  //}

}
