<mat-toolbar color="primary">Inschrijven</mat-toolbar>
<div fxLayout="colum">
  <div fxFlex="30">
    <mat-card class="participant_team_card">
      <mat-card-header>Mijn Team</mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-divider [inset]="true"></mat-divider>
          <h3 matSubheader>Mijn Renners ({{partipantRidersForm?.riders?.length}}/{{maxParticipantRiders}})</h3>
          <mat-list-item *ngFor="let rider of partipantRidersForm?.riders">
            {{rider?.firstName}} {{rider?.surNameShort}} ({{rider?.waarde}})
          </mat-list-item>
          <mat-list-item class="alert" *ngIf="calculateUsedWaardepunten() > maxParticipantRidersPunten">
            Je team heeft te veel waardepunten
          </mat-list-item>
          <mat-list-item class="note" *ngIf="calculateUsedWaardepunten() < maxParticipantRidersPunten">
           Je hebt nog {{maxParticipantRidersPunten - calculateUsedWaardepunten()}} waardepunten over.
          </mat-list-item>
                   <mat-divider [inset]="true"></mat-divider>
          <h3 matSubheader>Mijn waterdrager</h3>
          <mat-list-item>
            {{partipantRidersForm?.waterdrager?.firstName}}
            {{partipantRidersForm?.waterdrager?.surNameShort}}
            {{partipantRidersForm?.waterdrager?.waarde}}
          </mat-list-item>
                   <mat-divider [inset]="true"></mat-divider>
          <h3 matSubheader>Mijn meesterknecht</h3>
          <mat-list-item>
            {{partipantRidersForm?.meesterknecht?.firstName}}
            {{partipantRidersForm?.meesterknecht?.surNameShort}}
            {{partipantRidersForm?.meesterknecht?.waarde}}
          </mat-list-item>
                   <mat-divider [inset]="true"></mat-divider>
          <h3 matSubheader>Mijn linkebal</h3>
          <mat-list-item>
            {{partipantRidersForm?.linkebal?.firstName}}
            {{partipantRidersForm?.linkebal?.surNameShort}}
            {{partipantRidersForm?.linkebal?.waarde}}
          </mat-list-item>
                   <mat-divider [inset]="true"></mat-divider>
          <h3 matSubheader>Mijn beschermde renner</h3>
          <mat-list-item>
            {{partipantRidersForm?.beschermdeRenner?.firstName}}
            {{partipantRidersForm?.beschermdeRenner?.surNameShort}}
            {{partipantRidersForm?.beschermdeRenner?.waarde}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="column" fxLayoutAlign=" stretch">
          <button (click)="submitForm()" mat-raised-button color="primary" [disabled]="!participantRidersComplete()">Bevestigen</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row, wrap" fxFlex="70" fxLayoutAlign="start stretch">
    <mat-card class="team_card" fxFlex="calc(50% - 20px)" *ngFor='let team of (tour$ | async)?.teams'>
      <mat-card-header fxLayoutAlign=" center">
        <img matListAvatar [src]="'assets/images/shirts/' + team.teamAbbreviation + '.jpg'">
        {{team.teamName}}</mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let rider of team.tourRiders">
            <div matLine>
              {{rider.rider.firstNameShort}} {{rider.rider.surNameShort}} {{rider.waarde}}
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu"
                    *ngIf="!rider.rider.isSelected && !participantRidersComplete()"
                    (click)="setCurrentRider(rider, team, $event)">
              <mat-icon matListIcon>playlist_add</mat-icon>
            </button>
            <button mat-icon-button *ngIf="rider.rider.isSelected">
              <mat-icon matListIcon>directions_bike</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<mat-menu #menu="matMenu">
  <mat-list>
    <mat-list-item>
      {{currentRider?.firstName}} {{currentRider?.surName}} ({{currentRider?.waarde}})
    </mat-list-item>
  </mat-list>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <button *ngIf="partipantRidersForm?.riders.length < maxParticipantRiders" mat-menu-item (click)="addRenner()">
      <mat-icon matListIcon>add_box</mat-icon>
      Renner
    </button>
    <button *ngIf="!partipantRidersForm?.beschermdeRenner && showBeschermdeRennerOfMeesterknecht()" mat-menu-item
            (click)="addBeschermdeRenner()">
      <mat-icon matListIcon>add_box</mat-icon>
      Beschermde renner
    </button>
    <button *ngIf="!partipantRidersForm?.meesterknecht && showBeschermdeRennerOfMeesterknecht()" mat-menu-item
            (click)="addMeesterknecht()">
      <mat-icon matListIcon>add_box</mat-icon>
      Meesterknecht
    </button>
    <button *ngIf="!partipantRidersForm?.linkebal" mat-menu-item (click)="addLinkebal()">
      <mat-icon matListIcon>add_box</mat-icon>
      Linkebal
    </button>
    <button *ngIf="!partipantRidersForm?.waterdrager && currentRider?.waarde === laagsteWaardegroep" mat-menu-item
            (click)="addWaterdrager()">
      <mat-icon matListIcon>add_box</mat-icon>
      Waterdrager
    </button>
  </div>
</mat-menu>
