:host {
  .team_card {
    margin: 10px !important;
  }
  .participant_team_card {
    margin: 10px 0;
  //  padding: 24px 0;

  }
  .temp {
    background-color: yellow;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }

  .alert {
    color: #c7254e;
    font-size: 14px;
  }

  .note {
    color: rgba(0,0,0,.54);
    font-size: 14px;
  }
}
