<mat-toolbar color="primary">
    {{data?.rider?.rider?.firstName}}
    {{data?.rider?.rider?.surName}}
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <div *ngIf="data?.rider && !data?.rider?.stageclassifications">
      {{data?.rider?.rider?.firstName}}
      {{data?.rider?.rider?.surName}}
      heeft geen resultaat gehaald.
    </div>
    <ag-grid-angular *ngIf="data?.rider?.stageclassifications"
      style="width: 100%; height: 500px;"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      [rowData]="data?.rider?.stageclassifications">
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
