<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-select placeholder="Kies etappe" [(ngModel)]="selectedEtappe"
                  (selectionChange)="fetchEtappe()">
        <mat-option *ngFor="let etappe of etappes" [value]="etappe">
          {{ etappe?.etappeName }}
        </mat-option>
      </mat-select>
    </mat-card-title>
    <mat-card-subtitle>
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxFlex="70">
          {{etappeRowData && etappeRowData[0]?.tourrider.rider.firstName ? 'Winnaar ' +
          etappeRowData[0]?.tourrider.rider.firstName + ' ' + etappeRowData[0]?.tourrider.rider.surName : '&nbsp;' }}
        </div>
       <app-toggleuitslagen [checked]="ETAPPE"></app-toggleuitslagen>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-container" [ngClass.xs]="{'card-container':false, 'card-container-xs':true}">
      <div fxLayoutAlign="row" fxLayoutAlign.gt-xs="column" fxLayout="space-between stretch" fxLayoutGap.gt-xs="8px">
        <div fxFlex="100" fxFlex.gt-xs="calc(50% - 4px)">
          <ag-grid-angular
            style=""
            class="ag-theme-balham inside_card"
            [gridOptions]="etappeGridOptions"
            [rowData]="etappeRowData"
            [rowClassRules]="rowClassRules"
            (rowSelected)="onRowSelected($event)"
            [rowSelection]="rowSelection"
            domLayout="autoHeight">
          </ag-grid-angular>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="calc(50% - 4px)">
          <ag-grid-angular
            style=""
            class="ag-theme-balham inside_card"
            [gridOptions]="etappeStandGridOptions"
            [rowData]="etappeStandRowData"
            (rowSelected)="onEtappeStandRowSelected($event)"
            [rowSelection]="rowSelection"
            domLayout="autoHeight">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
