
:host {
  .mat-grid-list {
    padding-bottom: 8px;
  }
  mat-card-content {
    padding: 8px;
    background-color: white;
  }

  .card-container-xs {
    height: calc(var(--vh, 1vh) - 130px);
    overflow-y: auto;
  }
}
