
:host {
  //.mat-grid-list {
  //  padding-bottom: 8px;
  //}
  .card-container {
    height: calc(100vh - 275px);
    overflow-y: auto;
  }

  .card-container-xs {
    height: calc(var(--vh, 1vh) - 130px);
    overflow-y: auto;
  }

  .card-padding {
    padding: 4px;
  }
}
