<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="isLoading && !participanttable?.displayName">Bezig met het ophalen van het team...
    </mat-card-title>
    <mat-card-title *ngIf="participanttable && participanttable?.displayName">Team van {{participanttable?.displayName}}
      ({{participanttable?.totalPoints}})
    </mat-card-title>
    <mat-card-title *ngIf="!participanttable && !isLoading">De deadline voor inschrijving is verstreken</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="card-container" [ngClass.xs]="{'card-container':false, 'card-container-xs':true}">
      <mat-card-content>
        <ag-grid-angular
          style=""
          class="ag-theme-balham inside_card"
          [gridOptions]="gridOptions"
          [rowSelection]="rowSelection"
          [frameworkComponents]="frameworkComponents"
          (rowSelected)="onRowSelected($event)"
          domLayout="autoHeight"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </mat-card-content>
    </div>
</mat-card>
