<mat-toolbar color="primary">Team van {{participanttable?.displayName}} ({{participanttable?.totalPoints}})</mat-toolbar>
<div fxLayout="row">
  <div fxFlex="100">
    <ag-grid-angular
      style="width: 100%;"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      [rowSelection]="rowSelection"
      [frameworkComponents]="frameworkComponents"
      (rowSelected)="onRowSelected($event)"
      [gridAutoHeight]="true"
      [enableColResize]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
