<mat-toolbar color="primary">{{toolbartext}}</mat-toolbar>
<div>
  <div fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
    <mat-card fxFlex="100" fxFlex.gt-sm="30">
      <mat-toolbar color="primary">
        <div>{{subtitleText}}</div>
        <span fxFlex></span>
      </mat-toolbar>
      <mat-card-content>
        <div class="stage-cf-container mat-elevation-z8">
          <div class="stage-cf-header" fxLayoutAlign="space-evenly center">
              <button mat-raised-button color="accent" (click)="submit(data)">Opslaan</button>
              <button mat-raised-button color="warn" (click)="onRemoveSelected()">Verwijder</button>
          </div>
          <ag-grid-angular
            style="width: 100%; height: 500px;"
            class="ag-theme-balham"
            [gridOptions]="gridOptions"
            [rowDragManaged]="true"
            [animateRows]="true"
            (rowDragEnd)="resetPosition()"
            [gridAutoHeight]="true"
            [rowData]="data.form.uitslag">
          </ag-grid-angular>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxFlex="100" fxFlex.gt-sm="70">
      <app-riders
        (addPositionEvent)="addPosition($event)">
      </app-riders>
    </div>
  </div>
</div>
