<mat-toolbar color="primary">Uitslag voor {{toolbartext}}</mat-toolbar>
  <div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <mat-card fxFlex="30">
      <mat-toolbar color="primary">
        <div>{{subtitleText}}</div>
        <span fxFlex></span>
        <button mat-raised-button color="accent" (click)="submit(data)">Opslaan</button>
      </mat-toolbar>
      <mat-card-content>
        <div class="stage-cf-container mat-elevation-z8">
          <div *ngIf="data.form.uitslag.length <= 0">Vul rechts de positie van de renner in en voeg deze toe.</div>
          <mat-list>
            <mat-list-item *ngFor="let item of data.form.uitslag | orderBy : 'position'">
              <div matLine> {{item.position}}: {{item.firstName}} {{item.surName}}
              </div>
              <button (click)="deleteRiderFromSC(item)" mat-icon-button>
                <mat-icon matListIcon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxFlex="70">
      <app-riders
        (addPositionEvent)="addPosition($event)">
      </app-riders>
    </div>
  </div>
</div>

<!--</div>-->
