<section class="mat-typography">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">
      <mat-toolbar color="primary">
        <span>Menu</span>
        <span class="example-spacer"></span>
        <mat-select placeholder="Kies de ronde" [(ngModel)]="selectedTour"
                    (selectionChange)="fetchTour()">
          <mat-option *ngFor="let tour of tours$ | async" [value]="tour">
            {{ tour.tourName }}
          </mat-option>
        </mat-select>
      </mat-toolbar>
      <mat-list>
        <mat-list-item (click)="opened = false" [routerLink]="['/']" routerLinkActive="active-link"
                       [routerLinkActiveOptions]="{exact: true}">Home
        </mat-list-item>
        <mat-list-item (click)="opened = false"
                       *ngIf="((authService.user$ | async) && isSubmissionPossible) || (authService.isAdmin$ | async)"
                       [routerLink]="['/inschrijven']" routerLinkActive="active-link">Mijn team
        </mat-list-item>
        <mat-list-item *ngIf="!(isRegistrationOpen$ | async)" (click)="opened = false" [routerLink]="['/table']"
                       routerLinkActive="active-link">Stand
        </mat-list-item>
        <mat-list-item *ngIf="!(isRegistrationOpen$ | async)" (click)="opened = false" [routerLink]="['/uitslagen']"
                       routerLinkActive="active-link">Uitslagen
        </mat-list-item>
        <mat-list-item (click)="opened = false" [routerLink]="['/renners']" routerLinkActive="active-link">Renners
        </mat-list-item>
        <mat-list-item (click)="opened = false" [routerLink]="['/spelregels']" routerLinkActive="active-link">
          Spelregels
        </mat-list-item>
        <span class="example-spacer"></span>
        <mat-list-item *ngIf="(isRegistrationOpen$ | async)" (click)="opened = false" [routerLink]="['/participants']"
                       routerLinkActive="active-link">
          Deelnemers
        </mat-list-item>
        <mat-list-item (click)="opened = false" *ngIf="(authService.isAdmin$ | async)" [routerLink]="['/admin']"
                       routerLinkActive="active-link">Tour admin
        </mat-list-item>
        <span class="example-spacer"></span>
        <mat-list-item (click)="opened = false" *ngIf="!(authService.user$ | async)" [routerLink]="['/login']"
                       routerLinkActive="active-link">Login
        </mat-list-item>
        <mat-list-item (click)="opened = false" *ngIf="(authService.user$ | async)" [routerLink]="['/profiel']"
                       routerLinkActive="active-link">Mijn profiel
        </mat-list-item>
        <mat-list-item (click)="opened = false" *ngIf="(authService.user$ | async)" (click)="logout()">
          Logout {{displayName}}
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxFlexOffset.gt-xs="5">
          <button mat-button fxHide [fxHide.gt-xs]="false" [routerLink]="'/'" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}">
            <img src="assets/images/header_white3.png" height="36px"></button>
          <button fxHide [fxHide.gt-xs]="false" mat-button
                  *ngIf="((authService.user$ | async) && isSubmissionPossible) || (authService.isAdmin$ | async)"
                  [routerLink]="['/inschrijven']" routerLinkActive="active-link">Mijn team
          </button>
          <button fxHide *ngIf="!(isRegistrationOpen$ | async)" [fxHide.gt-xs]="false" mat-button
                  [routerLink]="['/table']" routerLinkActive="active-link">Stand
          </button>
          <button fxHide *ngIf="!(isRegistrationOpen$ | async)" [fxHide.gt-xs]="false" mat-button
                  [routerLink]="['/uitslagen']" routerLinkActive="active-link">Uitslagen
          </button>
          <button fxHide *ngIf="(isRegistrationOpen$ | async)" [fxHide.gt-xs]="false" mat-button
                  [routerLink]="['/participants']"
                  routerLinkActive="active-link">Deelnemers
          </button>
          <button fxHide [fxHide.gt-xs]="false" mat-button [routerLink]="['/renners']"
                  routerLinkActive="active-link">Renners
          </button>
          <button fxHide [fxHide.gt-xs]="false" mat-button [routerLink]="['/spelregels']"
                  routerLinkActive="active-link">Spelregels
          </button>
          <span fxHide [fxHide.gt-xs]="false" class="example-spacer"></span>
          <span fxHide [fxHide.gt-xs]="false" class="example-spacer"></span>
          <button fxHide [fxHide.gt-xs]="false" mat-button *ngIf="!(authService.user$ | async)"
                  [routerLink]="['/login']" routerLinkActive="active-link">
            Login
          </button>
          <button fxHide [fxHide.gt-xs]="false" mat-button *ngIf="(authService.user$ | async)"
                  [matMenuTriggerFor]="profileMenu">
            {{displayName}}
            <mat-icon aria-label="profiel">menu</mat-icon>
          </button>
        </div>
        <div fxShow [fxShow.gt-xs]="false">
          <span class="example-spacer"></span>
          <button mat-icon-button>
            <mat-icon aria-label="menu" (click)="opened = !opened">menu</mat-icon>
          </button>
          <span [routerLink]="'/'">
            <button mat-button>
              <img src="assets/images/header_white3.png" height="36px"></button>
          </span>
        </div>
      </mat-toolbar>
      <img class="banner_image" fxHide [fxHide.gt-xs]="false" src="../assets/images/header_small.png">
      <div class="banner_image_div" fxShow [fxShow.gt-xs]="false"></div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlexOffset.gt-xs="5" fxFlex="0 0 100" fxFlex.gt-xs="0 0 90">
          <router-outlet [hidden]="!opened"></router-outlet>
        </div>
      </div>
      <mat-toolbar class="footer" color="primary"></mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>

<mat-menu #profileMenu="matMenu" backdropClass="profileMenu">
  <mat-action-list>
    <button mat-menu-item (click)="opened = false" *ngIf="(authService.isAdmin$ | async)" [routerLink]="['/admin']">
      Tour admin
    </button>
    <button mat-menu-item [matMenuTriggerFor]="tourSubMenu">
      {{selectedTour?.tourName}}
    </button>
    <button mat-menu-item (click)="opened = false" [routerLink]="['/profiel']">
      Mijn profiel
    </button>
    <button mat-menu-item *ngIf="(authService.user$ | async)" (click)="logout()">
      Logout
    </button>
  </mat-action-list>
</mat-menu>


<mat-menu #tourSubMenu="matMenu">
  <button mat-menu-item *ngFor="let tour of tours$ | async" (click)="selectTour(tour)">{{tour?.tourName}}
  </button>
</mat-menu>
