:host {
  .example-spacer {
    flex: 1 1 auto;
  }

  .act_like_button {
    cursor: pointer;
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  mat-sidenav {
    width: 90vw;
  }

  .mat-select {
    font-size: 14px;
    width: 160px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 32px;
  }

  .banner_image_div {
    height: 8px;
  }
}

