<mat-toolbar color="primary">
  <span>Het Wielrenspel</span>
  <button mat-flat-button [routerLink]="['/table']">Stand</button>
  <button mat-flat-button [routerLink]="['/participants']">Deelnemers</button>
  <button mat-flat-button [routerLink]="['/riders']">Wielrenners</button>
  <span class="example-spacer"></span>
  <button mat-flat-button *ngIf="authService.isAdmin" [routerLink]="['/admin']">Tour admin</button>
  <button mat-button *ngIf="((authService.user$ | async) && isSubmissionPossible) || authService.isAdmin"  [routerLink]="['/tourriders']">Inschrijven</button>
  <span class="example-spacer"></span>
  <button mat-button *ngIf="!(authService.user$ | async)" [routerLink]="['/login']">Login</button>
  <button mat-button *ngIf="(authService.user$ | async)" (click)="logout()">Logout {{(authService.user$ | async)?.displayName }}</button>
  <!--<button mat-button *ngIf="(authService.user$ | async)" [matMenuTriggerFor]="profileMenu">{{(authService.user$ | async)?.displayName }}</button>-->
</mat-toolbar>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>



<mat-menu #profileMenu="matMenu">
  <mat-list>
    <mat-list-item>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        {{(authService.user$ | async)?.displayName }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <button mat-raised-button color="primary" *ngIf="(authService.user$ | async)" (click)="logout()">Logout {{(authService.user$ | async)?.displayName }}</button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-menu>

