<mat-card *ngIf="headlines?.length > 0">
  <mat-card-header>
    <mat-card-title>{{headline.title}}</mat-card-title>
    <mat-card-subtitle>{{headline.schrijver}}: {{lastUpdated}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p [innerHTML]="headline.text">
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button [disabled]="headlineIndex === 0" mat-icon-button color="warn" (click)="previousHeadline()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    {{headlineIndex + 1 }} van {{headlines?.length}}
    <button [disabled]="headlineIndex + 1 === headlines?.length" mat-icon-button color="warn" (click)="nextHeadline()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
