<!--<div class="mat-elevation-z8">-->
<!--<mat-toolbar color="primary">Headlines</mat-toolbar>-->
<mat-card>
  <ng-container *ngFor="let headline of headlines | orderBy : 'createdDate' : 'desc'">
    <mat-card-header>
      <mat-card-title>{{headline.title}}</mat-card-title>
      <mat-card-subtitle>{{headline.schrijver}} {{headline.createdDate | date}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        {{headline.text}}
      </p>
    </mat-card-content>
  </ng-container>
</mat-card>
<!--</div>-->
