<mat-card>
  <mat-card-header>
    <mat-card-title>Inloggen</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group *ngIf="!(authService.user$ | async)">
      <mat-tab label="inloggen" *ngIf="!wachtwoordvergeten">
        <form class="login-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" name="inlogEmail" [(ngModel)]="user.email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" autocomplete="password" name="inlogPassword" matInput placeholder="Password"
                   [(ngModel)]="user.password">
          </mat-form-field>
          <div class="form-group">
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button color="primary" (click)="signInWithEmail()"
                      [disabled]="!user.email || !user.password">
                Inloggen
              </button>
              <div class="clickable_div" (click)="activateResetPassword(true)">Wachtwoord vergeten</div>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="inschrijven" *ngIf="!wachtwoordvergeten">
        <form [formGroup]="userForm" class="login-form">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Naam" formControlName="displayName"
                   [errorStateMatcher]="matcher" [(ngModel)]="user.displayName">
            <mat-error *ngIf="userForm.controls['displayName'].errors?.required">
              Naam is <strong>verplicht</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="emailFormControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="user.email">
            <mat-error *ngIf="userForm.controls['emailFormControl'].errors?.email &&
    !userForm.controls['emailFormControl'].errors?.required">
              Vul een valide emailadres in.
            </mat-error>
            <mat-error *ngIf="userForm.controls['emailFormControl'].errors?.required">
              Email is <strong>verplicht</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" matInput autocomplete="password" placeholder="Password"
                   formControlName="passwordFormControl"
                   [(ngModel)]="user.password">
            <!--<mat-hint>Het wachtwoord moet minimaal 8 tekens lang zijn</mat-hint>-->
            <mat-error *ngIf="userForm.controls['passwordFormControl'].errors?.minlength &&
    !userForm.controls['passwordFormControl'].errors?.required">
              Het wachtwoord moet minstens 8 tekens lang zijn.
            </mat-error>
            <mat-error *ngIf="userForm.controls['passwordFormControl'].errors?.required">
              Paswoord is <strong>verplicht</strong>
            </mat-error>
            <mat-error *ngIf="userForm.controls['teamName'].errors?.maxlength">
              Je teamnaam mag maximaal <strong>25</strong> tekens bevatten
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Teamnaam" formControlName="teamName"
                   [errorStateMatcher]="matcher" [(ngModel)]="user.teamName">
            <mat-error *ngIf="userForm.controls['teamName'].errors?.required">
              Team naam is <strong>verplicht</strong>
            </mat-error>
          </mat-form-field>
          <div class="form-group">
            <button mat-raised-button color="primary" (click)="signUpRegular()" [disabled]="userForm.invalid">
              Inschrijven
            </button>
          </div>
        </form>
      </mat-tab>
      <mat-tab *ngIf="wachtwoordvergeten" label="wachtwoord vergeten">
        <form class="login-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" name="inlogEmail" [(ngModel)]="user.email">
          </mat-form-field>
          <div class="form-group">
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button color="primary" (click)="sendPasswordResetEmail()"
                      [disabled]="!user.email">
                Reset wachtwoord
              </button>
              <div class="clickable_div" (click)="activateResetPassword(false)">Login</div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color="primary" *ngIf="(authService.user$ | async)" (click)="logout()">Logout
      {{(authService.user$ | async)?.displayName }}
    </button>
  </mat-card-content>
</mat-card>
