<div class="mat-elevation-z8">
  <mat-toolbar color="primary">Rennerspunten</mat-toolbar>
<mat-card>
  <div class="riders-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-button-toggle-group>
      <mat-button-toggle value="Punten" checked (click)="defaultTabel()">Punten</mat-button-toggle>
      <mat-button-toggle value="Gekozen" (click)="aantalKeerGekozenTabel()">Gekozen</mat-button-toggle>
      <mat-button-toggle value="Uitgevallen" (click)="uitgevallenTabel()">Uitgevallen</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="card-container" [ngClass.xs]="{'card-container':false, 'card-container-xs':true}">
    <mat-card-content>
      <ag-grid-angular
        style="height: 100%"
        class="ag-theme-balham inside_card"
        [gridOptions]="gridOptions"
        (rowSelected)="onRowSelected($event)"
        [rowSelection]="rowSelection"
        [frameworkComponents]="frameworkComponents">
      </ag-grid-angular>
    </mat-card-content>
  </div>
</mat-card>
</div>
