<mat-card>
<mat-toolbar color="primary">Rennerspunten</mat-toolbar>
  <mat-card-content>
    <div class="riders-container mat-elevation-z8">
      <div class="riders-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <ag-grid-angular
        style="width: 100%; height: 500px;"
        class="ag-theme-balham"
        [gridOptions]="gridOptions"
        (rowSelected)="onRowSelected($event)"
        [rowSelection]="rowSelection"
        [frameworkComponents]="frameworkComponents">
      </ag-grid-angular>
    </div>
</mat-card-content>
</mat-card>
