:host {
  .riders-header {
    min-height: 64px;
    padding: 8px 24px 0;
    background: #FFFFFF;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-card-content {
    height: 100%
  }
  .card-container {
    height: calc(100vh - 504px);
    padding: 8px 0;
    overflow-y: auto;
  }

  .card-container-xs {
    height: calc(var(--vh, 1vh) - 272px);
    overflow-y: auto;
  }

  .uitgevallen {
    color: lightgrey !important;
  }
}
