<mat-toolbar color="primary">Spelregels</mat-toolbar>
<mat-card>

  <mat-tab-group>
    <mat-tab label="Hoe werkt het?">
      <mat-card>
        <mat-card-content>
          Deelname is gratis.<br>
          Per persoon mag één team worden ingeschreven.<br>
          Stel een team samen van twintig renners.<br>
          Je hebt een budget van 1060 waardepunten waarmee je zestien renners kiest. Daarnaast kies je een
          beschermde renner, een meesterknecht, een waterdrager en een linkebal.<br>
          Je renners pakken punten als ze bij de eerste twintig in een etappe-uitslag eindigen. Ook pakken ze
          punten als ze bij de eerste twintig in de eindklassementen eindigen. Je krijgt strafpunten als een
          renner uitvalt.<br>
          De winnaar van het wielerspel is de ploegleider van het team dat aan het einde van de ronde de
          meeste punten heeft gepakt.<br><br>
          <i>
            In gevallen waarin deze regels niet voorzien, beslist de spelleiding.<br>
          </i>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Team samenstellen">
      <mat-card>
        <mat-card-content>
          Je stelt een team samen van twintig renners. Kies zestien renners met je budget van 1060
          waardepunten.<br> Daarnaast kies je vier renners met een bijzondere rol: de beschermde renner, de
          meesterknecht, de waterdrager en de linkebal.<br><br>

          Je kunt met 1060 waardepunten uit elke waardegroep precies twee renners kiezen. Je mag er ook
          voor kiezen om je waardepunten anders te verdelen. Je kunt er ook voor kiezen om minder dan 1060
          waardepunten te gebruiken, je mag echter niet minder dan zestien renners selecteren.<br><br>

          <span><i>
          Mocht een gekozen renner toch niet starten in de ronde, dan wordt hij in jouw ploeg vervangen door
          zijn vervanger.<br> Als zijn vervanger meer waardepunten heeft, kiest de spelleiding een renner uit
          dezelfde waardegroep.<br> Hierover kan niet worden gecorrespondeerd.<br> Wijzigingen in de startlijst
          worden zo snel mogelijk verwerkt in de lijst met renners waaruit je kunt kiezen, zorg dus dat je zelf je
          ploeg up-to-date houdt.<br>
            </i>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Bijzondere rollen">
      <mat-card>
        <mat-card-content>
          Naast je zestien ‘gewone’ renners, kies je vier andere renners met een bijzondere rol.<br><br>

          <b>Beschermde renner:</b> Deze renner wordt beschermd door de meesterknecht. <br>De beschermde renner
          moet evenveel waardepunten hebben als de meesterknecht. <br>De punten die de beschermde renner
          haalt komen gewoon bij je puntentotaal op. <br>Als hij uitvalt krijg je <u>geen</u> strafpunten, hij is namelijk
          ‘beschermd’.<br><br>

          <b>Meesterknecht:</b> Deze renner heeft als taak zich op te offeren voor de beschermde renner.
          <br>De meesterknecht moet evenveel waardepunten hebben als de beschermde renner. <br>De punten die
          je meesterknecht haalt <u>gaan van je puntentotaal af</u>. <br>Als je meesterknecht onderweg uitvalt, krijg je
          <u>strafpunten ter hoogte van zijn waardepunten</u> (als je meesterknecht en beschermde renner
          bijvoorbeeld 120 waardepunten hebben, krijg je 120 strafpunten als je meesterknecht uitvalt).
          <br><br>
          <b>Waterdrager:</b> Deze renner offert zich op voor zijn hele ploeg. Deze renner moet dus in een sterk
          team zitten, maar zelf weinig punten pakken.<br>
          De waterdrager krijgt elke dag het gemiddelde van de punten van zijn ploeggenoten, minus de
          punten die hij zelf pakt. Die uitkomst wordt afgerond op een geheel getal en vormt de score van de
          waterdrager voor die etappe. Als je een renner van Sunweb kiest als waterdrager, gaat het dus om de
          zeven ploeggenoten bij Sunweb.<br>
          Alle afgeronde scores van de etappes worden opgeteld en aan het eind van de ronde komen daar de
          eindklassementen (volgens hetzelfde principe) bij op.<br>
          <b>Let op:</b> Bij elk eindklassement (vier keer dus: algemeen/berg/punten/jongeren) wordt <u>zijn waarde als
          punten afgetrokken</u>, ‘als gevolg van de inspanningen die hij heeft geleverd tijdens de ronde’.<br>
          Als de waterdrager uitvalt, krijg je geen strafpunten, maar vanaf dat moment krijg je ook geen
          punten meer voor zijn ploeggenoten. Wel gaan er op het einde nog vier maal zijn waardepunten af
          (bij elk eindklassement).<br><br>
          <i>

            Rekenvoorbeeld:<br>
            <u>Etappes</u>: Stel, de zeven ploeggenoten van de waterdrager pakken in de eerste etappe samen 74
            punten, de waterdrager pakt zelf 6 punten tijdens die etappe. De waterdrager krijgt dan voor die
            etappe het volgende aantal punten: 74 / 7 – 6 = 5 punten (afronding van 4,571).<br>
            <u>Eindklassementen</u>: Stel, de ploeggenoten van de waterdrager pakken samen 215 punten in het
            algemeen klassement en de waterdrager pakt er zelf 10, dan krijgt hij (als zijn waarde 15 is) voor het
            algemeen klassement het volgende aantal punten: 215 / 7 – 10 – 15 = 6 punten (afronding van
            5,714). Dit gaat zo ook voor de andere drie eindklassementen.<br>
            Het totaal aantal punten van de waterdrager is dan etappes+algemeen+berg+punten+jongeren.
          </i><br><br>

          <b>Linkebal:</b> van deze renner wordt eigenlijk weinig verwacht, maar gaat volgens jou ‘verrassen’ in deze
          ronde.<br>
          De linkebal moet uit de laagste waardegroep (10 punten) komen. De punten die hij tijdens de
          wielerronde behaalt, worden <u>verdubbeld</u>. Als je linkebal uitvalt krijg je (gewoon) 20 strafpunten.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Puntentelling">
      <mat-card>
        <mat-card-content>
          <ag-grid-angular
            style="width: 625px; height: 593px;"
            class="ag-theme-balham"
            [gridOptions]="gridOptions"
            [rowData]="spelregelstable">
          </ag-grid-angular>
          * Ploegentijdritten tellen niet mee<br>
          ** Eindklassementen tellen alleen mee na de laatste etappe. Ze worden wel tijdens de ronde weergegeven.

          <br><br>
          Voor elke renner die uitvalt krijg je 20 strafpunten.<br>
          Als je beschermde renner uitvalt krijg je geen strafpunten.<br>
          Als je meesterknecht uitvalt krijg je strafpunten ter hoogte van zijn waardepunten.<br>
          Als je waterdrager uitvalt, krijg je geen strafpunten, maar vanaf dat moment ook geen punten meer
          voor zijn ploeggenoten.<br>
          Als je linkebal uitvalt, krijg je 20 strafpunten.<br>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
