/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-material.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.full-width {
  width: 100%;
}

.banner_image {
  width: 100%;
}

.mat-card {
  padding: 8px !important;
}

.mat-dialog-container {
  padding: 0 !important;
}
.cdk-overlay-pane {
  max-width: none !important;
}

.ag-row-selected {
  // todo get from colors
  background-color: #ff4081 !important;
}

//$ag-range-selected-color-1:  #ff4081;

@media (max-width: 599px) {
  .mat-card,
  .mat-expansion-panel-body {
    padding: 8px 4px !important;
  }
}

.mat-drawer-content {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

// icon size in cell
.ag-grid-icon {
  font-size: 16px !important;
  color: slategrey;
  top: 4px;
  position: relative;
}

.clickable_div {
  cursor: pointer;
  font-size: 12px;
  color: slategrey;
  margin-left: 5px;

}
