/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$general-typography: mat-typography-config(
  $font-family: '"PT Sans", "Helvetica Neue", sans-serif',
  $body-2: mat-typography-level(14px, 24px, 600)
);

$md-vuelta: (
  50 : #fae6e5,
  100 : #f3c0be,
  200 : #ec9693,
  300 : #e46b67,
  400 : #de4c47,
  500 : #d82c26,
  600 : #d42722,
  700 : #ce211c,
  800 : #c81b17,
  900 : #bf100d,
  A100 : #ffeceb,
  A200 : #ffb9b8,
  A400 : #ff8785,
  A700 : #ff6e6c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-black: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


@include mat-core($general-typography);
$primary: mat-palette($md-vuelta, 800);
$accent: mat-palette($md-black, 600, 100, 800);
$warn: mat-palette($mat-blue-grey, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);


@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-material.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
.full-width {
  width: 100%;
}
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
.banner_image {
  width: 100%;
  height: 130px;
}

.mat-card {
  height: 100%;
  padding: 8px !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.cdk-overlay-pane {
  max-width: none !important;
}

.ag-row-selected {
  // todo get from colors
  background-color: #f9a825 !important;
}

//$ag-range-selected-color-1:  #ff4081;

@media (max-width: 599px) {
  .mat-card,
  .mat-expansion-panel-body {
    padding: 8px 4px !important;
  }
}

.mat-drawer-content {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

// icon size in cell
.ag-grid-icon {
  font-size: 16px !important;
  color: slategrey;
  top: 4px;
  position: relative;
}

.clickable_div {
  cursor: pointer;
  font-size: 12px;
  color: slategrey;
  margin-left: 5px;

}

.tour_not_ended {
  color: #b5b5b5;
}

ag-grid-angular.inside_card {
  padding: 8px 24px;
}

.card-container {
  height: calc(100vh - 338px);
  overflow-y: auto;
}

.card-container-xs {
  height: calc(100vh - 184px);
  overflow-y: auto;
}
.spacing-xs {
  height: 8px;
  width: 8px;
}
.spacing {
  height: 20px;
}
