<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between stretch" fxLayoutGap.gt-xs="4" fxLayoutGap.gt-md="2">
  <app-deelnemertop5 fxFlex="100" fxFlex.gt-md="24" fxFlex.gt-xs="49"
                     [stand$]="stand$"
                     [lastUpdated]="lastUpdated"
                     [isRegistrationOpen$]="isRegistrationOpen$"
                     [participantPrediction]="latestParticipantTotalScore"
                     [top]="top"
                     [title]="'Totaalstand'">

  </app-deelnemertop5>
  <div fxFlex="100" fxShow="false" [fxShow.xs]="true" [ngClass.xs]="{'spacing-xs':true}"></div>
  <app-deelnemertop5 fxFlex="100" fxFlex.gt-md="24" fxFlex.gt-xs="49"
                     [stand$]="etappeStand$"
                     [lastUpdated]="lastUpdated"
                     [isRegistrationOpen$]="isRegistrationOpen$"
                     [participantPrediction]="latestEtappeParticipantScore"
                     [top]="top"
                     [title]="'Etappe stand'">
  </app-deelnemertop5>
  <div fxFlex="100" fxShow="false" [fxShow.xs]="true" [ngClass.xs]="{'spacing-xs':true}"></div>
  <div fxFlex="100" fxShow="false" [fxShow.md]="true" [ngClass.md]="{'spacing-xs':true}"></div>
  <app-ridertop5 fxFlex="100" fxFlex.gt-md="24" fxFlex.gt-xs="49"
                 [riderTop]="riderTop"
                 [lastUpdated]="lastUpdated"
                 [isRegistrationOpen$]="isRegistrationOpen$"
                 [title]="'Beste renners'">
  </app-ridertop5>
  <div fxShow="false" fxFlex="100" [fxShow.xs]="true" [ngClass.xs]="{'spacing-xs':true}"></div>
  <app-ridertop5 fxFlex="100" fxFlex.gt-md="24" fxFlex.gt-xs="49"
                 [riderTop]="waterdragerTop"
                 [lastUpdated]="lastUpdated"
                 [isRegistrationOpen$]="isRegistrationOpen$"
                 [title]="'Beste waterdragers'">
  </app-ridertop5>
</div>
