<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between stretch" fxLayoutGap.gt-xs="3" fxLayoutGap.gt-sm="1">
  <app-deelnemertop5 fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="49"
                     [stand$]="stand$"
                     [lastUpdated]="lastUpdated"
                     [isRegistrationOpen$]="isRegistrationOpen$"
                     [title]="'Totaalstand'">

  </app-deelnemertop5>
  <div fxShow="false" [fxShow.xs]="true" [ngClass.xs]="{'spacing-xs':true}"></div>
  <!--<app-deelnemertop5 fxFlex="100" fxFlex.gt-xs="25"-->
                     <!--[stand$]="stand$"-->
                     <!--[lastUpdated]="lastUpdated"-->
                     <!--[isRegistrationOpen$]="isRegistrationOpen$"-->
                     <!--[title]="'Etappe stand'">-->

  <!--</app-deelnemertop5>-->
  <div fxShow="false" [fxShow.sm]="true" [ngClass.sm]="{'spacing-xs':true}"></div>
  <app-ridertop5 fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="49"
                 [riderTop]="riderTop"
                 [lastUpdated]="lastUpdated"
                 [isRegistrationOpen$]="isRegistrationOpen$"
                 [title]="'Beste renners'">
  </app-ridertop5>
  <div fxShow="false" fxFlex="100" [fxShow.sm]="true" [ngClass.sm]="{'spacing-xs':true}"></div>
  <app-ridertop5 fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="49"
                 [riderTop]="waterdragerTop"
                 [lastUpdated]="lastUpdated"
                 [isRegistrationOpen$]="isRegistrationOpen$"
                 [title]="'Beste waterdragers'">
  </app-ridertop5>
</div>
