<mat-card>
  <mat-card-header>
    <mat-card-title>
      Wijzig {{data.firstName}} {{data.surName}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start stretch">
      <mat-select placeholder="Wissel de renner" [(ngModel)]="data.rider">
        <mat-option *ngFor="let rider of ridersList$ | async" [value]="rider">
          {{ rider.firstName }}
          {{ rider.surName }}
        </mat-option>
      </mat-select>
      <mat-form-field class="full-width">
        <input type="number" matInput placeholder="waarde" name="riderWaardeFormControl"
               [errorStateMatcher]="matcher" [(ngModel)]="data.waarde">
        <mat-error *ngIf="riderForm.controls['riderWaardeFormControl'].errors?.required">
          waarde is <strong>verplicht</strong>
        </mat-error>
      </mat-form-field>
      <mat-checkbox name="isUitgevallenFormControl" [(ngModel)]="data.isOut">Is uitgevallen
      </mat-checkbox>
      <mat-form-field>
        <mat-select placeholder="uitval etappe" [(ngModel)]="selectedEtappe">
          <mat-option *ngFor="let etappe of etappes" [value]="etappe">
            {{ etappe.etappeName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
    <button mat-raised-button (click)="updateTourRider(data)" [mat-dialog-close]="data"
            color="accent">Opslaan
    </button>
  <button mat-raised-button (click)="deleteRiderFromTourridersTeam(data.id)" [mat-dialog-close]="data"
            color="warn">Delete
    </button>
    <button mat-raised-button [mat-dialog-close]="false">Annuleer</button>
</mat-card>
